NODE_EXPORTER_PORT=9100

IGPU_QMASSA_EXPORTER_PORT=9200
IGPU_PCI_ID=0000:00:02.0

DGPU_QMASSA_EXPORTER_PORT=9300
DGPU_PCI_ID=0000:05:00.0

NPU_METRICS_EXPORTER_PORT=9400

NVIDIA_GPU_EXPORTER_PORT=9500

PROMETHEUS_PORT=9090

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin123
